.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.poster {
    width: 100%;
    border-radius: 4px;
}

h2 {
    font-size: 18px;
    margin: 10px 0 15px;
}

p {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}